
@{
    ViewBag.Title = "Index";
}

<style>
    .btn a {
        color: white;
        text-decoration: none;
    }
body {
        background-color: #f1f1f1f1;
    }

.btn {
    margin-right: 200px;
}
</style>
<div class=" text-center">
    <h2>Rent an environment friendly car! </h2>
    <br />
    <h3>EnviroCar is the place to go to when you want to hire a smart, enviroment friendly car durring the day!</h3>
    <p> Please register down below before choosing your car.</p>


    <div class="row">
        <div class="col-md-4"><img src="/content/1st.jpg" height="300" width="310" /></div>
        <div class="col-md-4"><img src="/content/2nd.jpg" height="300" width="310" /></div>
        <div class="col-md-4"><img src="/content/4th.jpg" height="300" width="310" /></div>
    </div>
    <div class="btn btn-success">@Html.ActionLink(" Register here", "Register") </div>
    <div class="btn btn-success">@Html.ActionLink(" Register here", "Register") </div>
    <div class="btn btn-success">@Html.ActionLink(" Register here", "Register") </div>


</div>

