
@{
    ViewBag.Title = "Index";
}

<style>
    .btn a {
        color: white;
        text-decoration: none;
    }
body {
        background-color: #f1f1f1f1;
    }
</style>
<div class=" text-center">
    <h2>Rent an environment friendly car! </h2>
    <br />
    <h3>EnviroCar is the place to go to when you want to hire a smart, enviroment friendly car durring the day!</h3>
    <p> Please register down below before choosing your car.</p>
    <div class="btn btn-success">@Html.ActionLink(" Register here", "Register") </div>


</div>

