
@{
    ViewBag.Title = "Index";
}

<style>
    .btn a {
        color: white;
        text-decoration: none;
    }
body {
        background-color: #f1f1f1f1;
    }
</style>
<div class=" text-center">
    <h2> </h2>

    <p>We need your consensual agreement for appearing in photo and videos.</p>
    <div class="btn btn-success">@Html.ActionLink("Sign here", "Approval") </div>


</div>

